server:
  port: 8080

spring:
  datasource:
    master:
      jdbc-url: jdbc:mysql://192.168.171.131:3339/test
      username: root
      password: chimeanwon
      driver-class-name: com.mysql.jdbc.Driver
    slave:
      jdbc-url: jdbc:mysql://192.168.171.131:3340/test
      username: root
      password: chimeanwon
      driver-class-name: com.mysql.jdbc.Driver

info:
  app:
    name: spring-boot-actuator
    version: 1.0.0
    test: test

management:
  endpoint:
    web:
      exposure:
        include: beans,trace
    health:
      show-details: always
    #management.endpoints.web.base-path=/monitor
    shutdown:
      enabled: true